page-payment-code {
.paymentCodeContent{padding:60px 12%;
  .codeBox{
    img{width: 100%;height: auto;}
    .title{font-size:1.8rem;color:#333333;}
    .tipsInfor{text-align: center;font-size:1.4rem;color:#333333;
      ion-icon{color:#69a2ea;margin-right: 5px;vertical-align: middle;font-size:1.6em;}
    }
  }

}
}
