<!--
  Generated template for the UpdatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgGrey">
  <div class="loginWrapBox">
    <!--<div class="loginListBox"><input type="tel" class="loginInput" placeholder="验证码" [(ngModel)]="user.code" (change)="telChange()" (focus)="showtelClear()" (blur)="hidetelClear()" /><ion-icon name="ios-close-circle" (click)="clearTel()" *ngIf="showtelclear"></ion-icon><span class="getCodeBox" [ngClass]="{'codeStyleBtn':haveTelVal}" *ngIf="showCodeOrTime" (click)="codeOrTimeDisplay()" >获取验证码</span><span *ngIf="!showCodeOrTime" class="countTime">{{coutTime}}s</span></div>-->
    <!--<div class="loginListBox"><input [type]="passwordShow" class="loginInput" placeholder="新密码" [(ngModel)]="user.password" (change)="codeChange()"  (focus)="showcodeClear()" (blur)="hidecodeClear()"  /><ion-icon name="ios-close-circle" (click)="clearCode()" *ngIf="showcodeclear"></ion-icon><ion-icon [name]="ioslockoutline" (click)="changePasswordPlay()"></ion-icon></div>-->
    <!--<div class="submitbtnBox">-->
    <!--<button ion-button block [ngClass]="{'loginSubmitBtn':canGoSubmit}">登录</button>-->
    <!--</div>-->
    <div class="loginWaysBox">
      <div class="acountPasswordLogin">
        <div class="loginListBox"><input type="password" class="loginInput" placeholder="请输入旧密码" [(ngModel)]="user.oldpassword" tappable (change)="oldpasswordChange()"  (focus)="showoldpasswordClear()" (blur)="hideoldpasswordClear()"  /><ion-icon name="ios-close-circle" tappable (click)="clearoldPassword()" *ngIf="showoldpasswordclear"></ion-icon></div>
        <div class="loginListBox"><input type="password" class="loginInput" placeholder="请输入新密码" [(ngModel)]="user.newpassword" tappable (change)="newpasswordChange()"  (focus)="shownewpasswordClear()" (blur)="hidenewpasswordClear()"  /><ion-icon name="ios-close-circle" tappable (click)="clearnewPassword()" *ngIf="shownewpasswordclear"></ion-icon></div>
        <div class="loginListBox"><input type="password" class="loginInput" placeholder="确认新密码" [(ngModel)]="user.surepassword" tappable (change)="surepasswordChange()"  (focus)="showsurepasswordClear()" (blur)="hidesurepasswordClear()"  /><ion-icon name="ios-close-circle" tappable (click)="clearsurePassword()" *ngIf="showsurepasswordclear"></ion-icon></div>
        <button ion-button block class="loginBtnBox" [ngClass]="{'loginSubmitBtn':canGoSubmit}" tappable (click)="updatePasswordSubmit()" >确认提交</button>
      </div>
    </div>
  </div>
</ion-content>
