page-about-kupang {
  .aboutCouponContent{background: url(../assets/imgs/mine/aboutCouponBg.png) no-repeat center top;background-size: contain;min-height: 100%;padding:160px 26px 0;
    p{color:#231815;font-size: 1.4rem;text-align: justify;}
  }

}
