page-settle-account-search {
  .detailInforLists{padding-left:20px;background: #fff;margin:10px 0;
    .inforItemBox{border-bottom:1px solid #dedede;color:#131313;font-size:1.5rem;padding:10px 20px 5px 0;
      &:last-child{border-bottom:0 none;}
      .businessInfor{}
      .dateBalanceBox{
        .dateBox{color:#888888;font-size:1.3rem;}
        .balanceBox{}
      }
    }
  }
  .sureBtnBox{padding:30px 20px;}
}
